HTTP_ADDR=:8080
DATABASE_URL=postgres://todo:todo_password@localhost:5432/todo_api?sslmode=disable
AWS_DEFAULT_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
MINISTACK_ENDPOINT=http://localhost:4566
